// -----------------------------------------------------------------------------
// This file contains all application-wide Sass functions.
// -----------------------------------------------------------------------------

/**
 * Conversion px to rem based on Karl Merkli approach
 * @author Greg Rickaby
 */
@function parseInt($n) {
  @return $n / ($n * 0 + 1);
}

@function rem($value) {
	$root: 10; // Based on HTML reset html { font-size: 62.5%; }
	$val: parseInt($value);
	$return: ();

	@if unit($value) == "px" {
		$return: append($return, ($val / $root + rem));
	} @else {
		$return: append($return, ($val * $root + px));
	}

	@return $return;
}
