// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


// Font Variables
// Google Fonts are set in _fonts.scss

// Primary Font
$primary-font-stack: 'Source Sans Pro', sans-serif !default;

// Secondary Font
$secondary-font-stack: 'Source Sans Pro', sans-serif !default;

// Monospace Font
$code-font-stack: 'Source Sans Pro', sans-serif !default;

// Font Weights
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;

// Sizes
$h1: 68px;
$h2: 42px;
$h3: 26px;
$h4: 16px;
$h5: 16px;
$p: 16px;

// REM to PXs
$baseFontSize: 10; // Based on HTML reset html { font-size: 62.5%; }

// Line-height
$lh-h1: 72px;
$lh-h2: 48px;
$lh-h3: 48px;
$lh-h4: 24px;
$lh-h5: 24px;
$lh-p: 24px;

// Colors
$primary: #0033A0;
$secondary: #0D2B3E;

$colours: (
    primary: $primary,
    secondary: $secondary,
);


// Layout

// 4-Point Grid Layout space Rules
// Based on The 8-Point Grid https://spec.fm/specifics/8-pt-grid
$space-xxs: 2px;
$space-xs: 4px;
$space-s: 8px;
$space-m: 16px;
$space-l: 32px;
$space-xl: 64px;

$inset-xxs: 2px 2px 2px 2px;
$inset-xs: 4px 4px 4px 4px;
$inset-s: 8px 8px 8px 8px;
$inset-m: 16px 16px 16px 16px;
$inset-l: 32px 32px 32px 32px;
$inset-xl: 64px 64px 64px 64px;
$stack-xxs: 0 0 2px 0;
$stack-xs: 0 0 4px 0;
$stack-s: 0 0 8px 0;
$stack-m: 0 0 16px 0;
$stack-l: 0 0 32px 0;
$stack-xl: 0 0 64px 0;

$spaces: (
    xxs: $space-xxs,
    xs: $space-xs,
    s: $space-s,
    m: $space-m,
    l: $space-l,
    xl: $space-xl,
);

// Border radius
$border-radius: 4px;

/// Container's maximum width
/// @type Length
$max-width: 1140px !default;

//Z-Index
$z-5000: 5000;
$z-1000: 1000;
$z-500: 500;
$z-100: 100;
$z-90: 90;
$z-80: 80;
$z-70: 70;
$z-60: 60;
$z-50: 50;
$z-40: 40;
$z-30: 30;
$z-20: 20;
$z-10: 10;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
    'phone': 576px,
    'tablet': 768px,
    'small-desktop': 994px,
    'desktop': 1100px,
    'large-desktop': 1200px,
) !default;


/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
