// -----------------------------------------------------------------------------
// This file contains CSS Typography classes.
// -----------------------------------------------------------------------------

$line-height: round($font-size * $line-height-factor);
$h3-font-size: round($font-size * $scale-factor);
$h2-font-size: round($h3-font-size * $scale-factor);
$h1-font-size: round($h2-font-size * $scale-factor);

html, .root {
    @include rem(line-height, $line-height);
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 62.5%;
}

body, .article {
    @include rem(font-size, $font-size);
    @include rem(line-height, $line-height);
    font-family: $primary-font-stack;
    font-weight: $regular;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
    font-family: $secondary-font-stack;
}

h1,
.h1 {
    @include rem(font-size, $h1-font-size);
    @include rem(line-height, $line-height * 3);
    margin-top: $line-height;
    margin-bottom: $line-height * 2;
    font-weight: $h1-font-weight;
    &:first-child {
        margin-top: 0;
    }
}

h2,
.h2 {
    @include rem(font-size, $h2-font-size);
    @include rem(line-height, $line-height * 2);
    margin-top: $line-height;
    margin-bottom: $line-height;
    font-weight: $h2-font-weight;
    &:first-child {
        margin-top: 0;
    }
}

h3,
.h3 {
    @include rem(font-size, $h3-font-size);
    @include rem(line-height, $line-height);
    margin-top: $line-height;
    margin-bottom: $line-height / 2;
    font-weight: $h3-font-weight;
    &:first-child {
        margin-top: 0;
    }
}

h4,
.h4 {
    @include rem(font-size, $font-size);
    @include rem(line-height, $line-height);
    margin-top: $line-height;
    margin-bottom: 0;
    font-weight: $h4-font-weight;
    &:first-child {
        margin-top: 0;
    }
}

h5,
.h5 {
    @include rem(font-size, $font-size);
    @include rem(line-height, $line-height);
    margin-top: $line-height;
    margin-bottom: 0;
    font-weight: $h5-font-weight;
    &:first-child {
        margin-top: 0;
    }
}

p, ul, ol, pre, table, blockquote {
    margin-top: 0;
    margin-bottom: $line-height;
}

ul ul, ol ol, ul ol, ol ul {
    margin-top: 0;
    margin-bottom: 0;
}

/* Let's make sure all's aligned */
hr {
    border: 1px solid;
    margin: -1px 0;
}

a, b, i, strong, em, small, code {
    line-height: 0;
}

sub, sup {
    @include rem(line-height, 0);
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* Code */
code {
    font-family: $code-font-stack;
    white-space: nowrap;
    color: $primary;
    font-weight: $regular;
}

pre {
    @include rem(padding, $space-m);
    display: block;
    border-radius: $border-radius;
    box-shadow: 0 0 0 1px $secondary;
    background: $secondary;
    font-family: $code-font-stack;
    overflow: auto;
}

pre code {
    color: $secondary;
}
