// -----------------------------------------------------------------------------
// This file contains CSS Typography classes.
// -----------------------------------------------------------------------------

$line-height-produt: round($font-size * $line-height-factor);
// Make sure line height is even
$line-height: if($line-height-produt % 2 == 0px, $line-height-produt, $line-height-produt + 1);
$h3-font-size: round($font-size * $scale-factor);
$h2-font-size: round($h3-font-size * $scale-factor);
$h1-font-size: round($h2-font-size * $scale-factor);

html, .root {
    @include rem(line-height, $line-height);
    text-size-adjust: 100%;
    font-size-adjust: 0.5;
    -webkit-font-smoothing: antialiased;
    font-size: $font-size;
    color: $font-color;
}

body, .article {
    @include rem(font-size, $font-size);
    @include rem(line-height, $line-height);
    @include rem(letter-spacing, $p-font-tracking);
    font-family: $primary-font-stack;
    font-weight: $regular;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
    font-family: $secondary-font-stack;
}

h1,
.h1 {
    @include rem(font-size, $h1-font-size);
    @include rem(line-height, $line-height * 3);
    @include rem(margin-top, $line-height);
    @include rem(margin-bottom, $line-height * 2);
    @include rem(letter-spacing, $h1-font-tracking);
    font-weight: $h1-font-weight;
    &:first-child {
        margin-top: 0;
    }
}

h2,
.h2 {
    @include rem(font-size, $h2-font-size);
    @include rem(line-height, $line-height * 2);
    @include rem(margin-top, $line-height * 2);
    @include rem(margin-bottom, $line-height);
    @include rem(letter-spacing, $h2-font-tracking);
    font-weight: $h2-font-weight;
    &:first-child {
        margin-top: 0;
    }
}

h3,
.h3 {
    @include rem(font-size, $h3-font-size);
    @include rem(line-height, $line-height * 2);
    @include rem(margin-top, $line-height);
    @include rem(margin-bottom, $line-height);
    @include rem(letter-spacing, $h3-font-tracking);
    font-weight: $h3-font-weight;
    &:first-child {
        margin-top: 0;
    }
}

h4,
.h4 {
    @include rem(font-size, $font-size);
    @include rem(line-height, $line-height);
    @include rem(margin-top, $line-height);
    @include rem(margin-bottom, 0);
    @include rem(letter-spacing, $h4-font-tracking);
    font-weight: $h4-font-weight;
    &:first-child {
        margin-top: 0;
    }
}

h5,
.h5 {
    @include rem(font-size, $font-size);
    @include rem(line-height, $line-height);
    @include rem(margin-top, $line-height);
    @include rem(margin-bottom, 0);
    @include rem(letter-spacing, $h5-font-tracking);
    font-weight: $h5-font-weight;
    &:first-child {
        margin-top: 0;
    }
}

p.text-lead {
    @include rem(font-size, $font-size + 4);
    @include rem(line-height, $line-height + 2);
    @include rem(margin-top, $line-height * 2);
    @include rem(margin-bottom, $line-height);
    @include rem(letter-spacing, $p-font-tracking);
    font-weight: $p-font-weight;
}

p, ul, ol, pre, table, blockquote {
    margin-top: 0;
    margin-bottom: $line-height;
}

blockquote {
    font-style: italic;
    font-weight: $semi-bold;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        display: block;
        height: 100%;
        width: 4px;
        background: adjust-color($color: grayscale($font-color), $lightness: 70%);
        left: -$line-height;
    }
}

ul ul, ol ol, ul ol, ol ul {
    margin-top: 0;
    margin-bottom: 0;
}

/* Let's make sure all's aligned */
hr {
    border: 0 solid #e2e8f0;
    border-color: #e2e8f0;
    border-top-width: 1px;
    margin: $line-height * 2 0;
}

a, b, i, strong, em, small, code {
    line-height: 0;
}

sub, sup {
    @include rem(line-height, 0);
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* Code */
code {
    font-family: $code-font-stack;
    white-space: nowrap;
    color: $font-color;
    padding: ($line-height - $font-size) / 6 ($line-height - $font-size) / 2;
    border-radius: 4px;
    font-weight: $regular;
    @include rem(line-height, $font-size);
    background: adjust-color($color: grayscale($font-color), $lightness: 76%);
}

pre {
    @include rem(padding, $space-m);
    display: block;
    border-radius: $border-radius;
    box-shadow: 0 0 0 1px $secondary;
    background: $secondary;
    font-family: $code-font-stack;
    overflow: auto;
}

pre code {
    color: $secondary;
}
